<html>
<div class="Contact" id="Contact">
<form id="contact-form" onsubmit="formHandler(event)">
    <h3>Contact Us!</h3>
    <div>
        <input type="text" id="Username" name="Username" placeholder="Name">
    </div>
    <div>
        <input type="text" id="Address" name="Address" placeholder="Address">
    </div>
    <div>
        <input type="email" id="email" name="email" placeholder="Email">
    </div>
    <div>
        <input type="tel" id="Phone" name="Phone" placeholder="Phone Number">
    </div>
    <div>
        <input type="text" id="About" name="About" placeholder="Write your Query ........">
    </div>
    <button type="submit">Submit</button>
</form>
</div>
</html>